.pokemon-preview {
  background-color: antiquewhite;
  min-width: 200px;
  min-height: 300px;
  border-radius: 8px;

  a {
    text-decoration: none;
    color: #333;

    &:hover {
      text-decoration: none;
    }
  }

  .poke-moves {

    display: grid;

    button {
      margin-top: 6px;
      border: 1px solid gray;
      background-color: transparent;
      max-width: 120px;
      margin-left: 40px;
      border-radius: 8px;

    }

    button:hover {
      background-color: rgb(240, 240, 240);
    }

  }

  .poke-class {
    div {
      i {
        display: block;
        height: 40px;
        max-width: 40px;
        border-radius: 50%;

        svg {
          height: 30px;
          max-width: 30px;

          position: relative;
          top: 5px;
          right: -5px;
        }
      }
    }
  }
}

.pokemon-preview.dead {
  background-color: #706f6f;
  border: 1px solid red;
}

.progress-bar-container {
  background-color: #ccc;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #66bb6a;
  transition: width 0.3s;
}